doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Creditor's List
  link(rel='stylesheet' href='/css/salesList.css')
  link(rel='stylesheet' href='css/css/bootstrap.css')
body
  nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-fluid
        a.navbar-brand(href='/') Home
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(aria-current='page' href='/sales/registerSales') Sales registration
            li.nav-item
              a.nav-link(href='#') My account
            li.nav-item
              a.nav-link(href='/') Log out
            li.nav-item
              a.nav-link(href='/sales/salesList') Sales List
  .container
    table
      thead
        th Customer Name
        th Produce Name
        th Quantity
        th Amount Due(shs)
        th Phone Number
        th Date
      tbody
      if creditors.length
          each creditor in creditors
            tr
              td #{creditor.Name}
              td #{creditor.produce}
              td #{creditor.tonnage}
              td #{creditor.amount}
              td #{creditor.contact}
              td #{moment(creditor.dispatchDate).format("DD-MM-YYYY")}
