doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css')
  link(rel='stylesheet' href='/css/saleslist.css')
body 
  nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-fluid
        a.navbar-brand(href='/') Home
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(aria-current='page' href='/sales/registerSales') Sales registration
            li.nav-item
              a.nav-link(href='#') My account
            li.nav-item
              a.nav-link(href='/') Log out
            li.nav-item
              a.nav-link(href='/sales/salesList') Sales List
.container
    table
      thead
        tr
          th Image
          th Produce Name
          th Produce Type
          th Quantity Procured
          th Selling Price (shs)
          th Dealer's Name
          th Date
          th Delete
      tbody
        if produce.length
          each product in produce
            tr
              td
                img(src='/' + product.image, width='80', height='80', style='object-fit: cover; border-radius: 5px')
              td #{product.produceName}
              td #{product.produceType}
              td #{product.tonnage}
              td #{product.unitCost}
              td #{product.dealerName}
              td #{moment(product.date).format("DD-MM-YYYY")}
              td 
                form(d="inline" action="/products/deleteproduce" method="post")
                  input(type="hidden" name="id" value=product._id)
                  button.btn.btn-sm.btn-outline-danger.d-flex.align-items-center.justify-content-center(type="submit" onclick="return confirm('Are you sure you want to delete this item?');")
                    i.bi.bi-trash.me-1
                    | Delete
